
<div class="conteudo-principal">
{{#each reservas}}

  
            <div class="horarios-main">
              <a href="/deletar/{{id}}"><img src="icon-errado.png" alt="" class="icon-excluir"></a>
            <div>
            <img src="perfil02.png"><h1>{{nome}}</h1><br>

            </div>
            <p><strong>Data:</strong>  {{data}}   Horario: {{horarioentrada}}  -   {{horariosaida}} </p>
            <p><strong>Sala:</strong>  {{sala}}</p>
            <br>
            
            </div>
{{/each}}

</div>




