<div class="conteudo-principal">
{{#each usuarios}}

    <div class="usuarios">

        <h2 id="nome-usuario"> Nome: {{name}}</h2>  <h2 id="id-usuarios">ID:  {{id}}</h2><br>
        <h2>Cargo:    {{cargo}}</h2><br>
        <h2>Nome usuario: {{user}}</h2>

        <div class="botoes-usuarios">
            <button>Editar</button>
           <a href="/deletar-usuario/{{id}}"><button>Excluir</button></a> 

        </div>
        
    </div>
    <br>


{{/each}}

</div>